/* Custom Font Imports */
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base font settings */
@layer base {
  body {
    @apply font-serif text-gray-800 dark:text-gray-200;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border;
  border-color: rgba(0, 0, 0, 0.1); /* Equivalent to border-black/10 */
}